<div class="heder flex justify-c">
	<div class="heder_wrap flex justify">
		<a href="#"><img src="../../assets/img/Logo.png"></a>
		<input class="heder_input" type="search" name="search" placeholder="Company Name">
		<a href="#"><img src="../../assets/img/Chat.png"></a>
		<a href="#"><img src="../../assets/img/Notifications.png"></a>
		<a href="#"><img src="../../assets/img/Image.png"></a>
		<p>Maximillian Beekeeper</p>
	</div>	
</div>

<div class="content flex justify">
	<div class="content_left flex direct"></div>
	<div class="content_centr flex justify"></div>
	<div class="content_right flex direct"></div>
</div>